<%- include('partials/head') %>
<style>
  #topCategoriesChart {
    min-height: 400px !important;
  }
  #timeFilter {
    border: none;
    color: grey;
  }
</style>
<body>
  <div class="screen-overlay"></div>
  <%- include('partials/aside') %>
  <main class="main-wrap">
    <header class="main-header navbar"></header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Dashboard</h2>
          <p>Whole data about your business here</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-primary-light"
                ><i class="text-primary material-icons md-monetization_on"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Revenue</h6>
                <span>₹ <%= totalRevenue[0]?.totalRevenue %><span>
                <span class="text-sm"> Shipping fees are not included </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-success-light"
                ><i class="text-success material-icons md-local_shipping"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Orders</h6>
                <span><%= orders %></span>
                <span class="text-sm"> Excluding orders in transit </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-warning-light"
                ><i class="text-warning material-icons md-qr_code"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Products</h6>
                <span><%= products %></span>
                <span class="text-sm"> In 5+ Categories </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-info-light"
                ><i class="text-info material-icons md-shopping_basket"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Users</h6>
                <span><%= users %></span>
                <span class="text-sm"> Total Users on Our Website </span>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">Sale statistics</h5>
              <div class="d-flex">
                <label for="timeFilter">Select Time Filter:</label>
                <select id="timeFilter" onchange="fetchChartData()">
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                  <option value="daily">Daily</option>
                </select>
              </div>
              <canvas id="salesChart"></canvas>
            </article>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <canvas id="topCategoriesChart"></canvas>
            </article>
          </div>
        </div>
        <div class="col-xl-5 col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title product-chart">To Selling Products</h5>
              <canvas id="topProductsChart"></canvas>
            </article>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer') %>
  </main>
  <script>
    function renderSalesChart(data, filter) {
      let labels, labelText;

      if (filter === "yearly") {
        labels = data.map((item) => `Year ${item._id}`);
        labelText = "Yearly Revenue";
      } else if (filter === "monthly") {
        const months = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ];
        labels = data.map((item) => months[item._id - 1]);
        labelText = "Monthly Revenue";
      } else if (filter === "daily") {
        const days = [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
        ];
        labels = data.map((item) => days[item._id - 1]);
        labelText = "Daily Revenue (Last 7 Days)";
      }

      const values = data.map((item) => item.totalRevenue);

      if (window.salesChartInstance) window.salesChartInstance.destroy();

      const ctx = document.getElementById("salesChart").getContext("2d");
      window.salesChartInstance = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: labelText,
              data: values,
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              title: { display: true, text: "Revenue" },
            },
          },
        },
      });
    }

    function renderTopProductsChart(data) {
      const labels = data.map((item) => item.productName);
      const values = data.map((item) => item.totalQuantity);

      if (window.topProductsChartInstance)
        window.topProductsChartInstance.destroy();

      const ctx = document.getElementById("topProductsChart").getContext("2d");
      window.topProductsChartInstance = new Chart(ctx, {
        type: "pie",
        data: {
          labels: labels,
          datasets: [
            {
              data: values,
            },
          ],
        },
        options: {
          plugins: {
            legend: {
              position: "top", 
              align: "center", 
              labels: {
                padding: 10,
                boxWidth: 20,
              },
            },
          },
        },
      });
    }

    function renderTopCategoriesChart(data) {
      const categoryLabels = data.map((item) => item.categoryName);
      const categoryValues = data.map((item) => item.totalSales);

      const ctx = document
        .getElementById("topCategoriesChart")
        .getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: categoryLabels,
          datasets: [
            {
              label: "Sales by Category",
              data: categoryValues,
              backgroundColor: "rgba(255, 206, 86, 0.2)",
              borderColor: "rgba(255, 206, 86, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true,
              min: 0,
              max: 15,
              title: {
                display: true,
                text: "Total Sales",
              },
            },
          },
        },
      });
    }

    function fetchChartData() {
      const filter = document.getElementById("timeFilter").value;
      $.ajax({
        url: `/admin/chart?filter=${filter}`,
        method: "GET",
        success: function (data) {
          renderSalesChart(data.revenue, filter);
          renderTopProductsChart(data.topProducts);
          renderTopCategoriesChart(data.topCategories);
        },
        error: function (error) {
          console.error("Error fetching chart data:", error);
        },
      });
    }

    $(document).ready(fetchChartData);
  </script>
</body>
