<%- include('partials/head') %>
<style>
  input.error {
    border-color: red;
  }

  input.error::placeholder {
    color: red;
  }

  textarea.error {
    border-color: red;
  }

  textarea.error::placeholder {
    color: red;
  }
</style>
<body>
  <div class="screen-overlay"></div>
  <%- include('partials/aside') %>
  <main class="main-wrap">
    <header class="main-header navbar"></header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Categories</h2>
          <p>Add, edit or delete a category</p>
        </div>
        <div>
          <input
            type="text"
            placeholder="Search Categories"
            class="form-control bg-white"
          />
        </div>
      </div>
      <div id="category-list" class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <form id="categoryForm" action="/admin/categories" method="post">
                <div class="mb-4">
                  <label for="category_name" class="form-label"
                    >Category name</label
                  >
                  <input
                    name="name"
                    type="text"
                    placeholder="Type here"
                    class="form-control"
                    id="category_name"
                  />
                </div>
                <div class="mb-4">
                  <label class="form-label">Description</label>
                  <textarea
                    name="description"
                    id="category_descreption"
                    placeholder="Type here"
                    class="form-control"
                  ></textarea>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">
                    Create category
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-9">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th class="text-end"><span class="me-5">Action</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% categories.forEach(category => { %>
                    <tr>
                      <td><b><%= category.name %></b></td>
                      <td><%= category.description %></td>
                      <td>
                        <% if (category.is_Active) { %>
                        <span class="badge bg-success w-75">Active</span>
                        <% } else { %>
                        <span class="badge bg-danger w-75">Blocked</span>
                        <% } %>
                      </td>
                      <td class="text-end">
                        <% if (category.is_Active) { %>
                        <a
                          data-category-id="<%= category._id %>"
                          style="width: 80px"
                          class="category-unlist btn btn-danger btn-sm btn-block"
                        >
                          Unlist
                        </a>
                        <% } else { %>
                        <a
                          style="width: 80px"
                          data-category-id="<%= category._id %>"
                          class="category-listed btn btn-warning btn-sm btn-block"
                        >
                          List
                        </a>
                        <% } %>
                        <a
                          class="btn bg-warning-light btn-sm btn-block ms-3 me-3"
                          href="/admin/categories/edit/<%= category._id %>"
                          >Edit</a
                        >
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- .col// -->
          </div>
          <!-- .row // -->
        </div>
        <!-- card body .// -->
      </div>
      <!-- card .// -->
    </section>
    <div
      id="toast-container"
      aria-live="polite"
      aria-atomic="true"
      class="position-fixed top-0 end-0 p-3"
      style="z-index: 11"
    >
      <div
        id="toast"
        class="toast align-items-center text-white bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div
        id="toast_error"
        class="toast align-items-center text-white bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body-error" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </main>
</body>
<script>
  $(document).ready(() => {
    $("#categoryForm").on("submit", function (e) {
      e.preventDefault();

      if (validateForm()) {
        const formData = $(this).serialize();

        $.ajax({
          type: "POST",
          url: "/admin/categories",
          data: formData,
          success: function (response) {
            if (response.success) {
              showToast(response.message);
              $("#category-list").load("/admin/categories #category-list");
            } else {
              showToastError(response.message);
            }
          },
          error: function () {
            showToast("An error occurred. Please try again.");
          },
        });
      }
    });
  });

  $(document).ready(() => {
    $(document).on("click", ".category-unlist", async (e) => {
      e.preventDefault();

      const categoryId = $(e.currentTarget).data("category-id");

      // SweetAlert confirmation
      const result = await Swal.fire({
        title: "Confirm Action",
        text: "Are you sure you want to unlist this category?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, unlist",
        cancelButtonText: "No, cancel",
      });

      // If the user cancels the action, return early
      if (!result.isConfirmed) {
        return;
      }

      $.ajax({
        type: "patch",
        url: `/admin/categories/${categoryId}/unlist`,
        success: (response) => {
          if (response.success) {
            showToast(response.message);
            $("#category-list").load("/admin/categories #category-list");
          } else {
            showToastError(response.message);
          }
        },
        error: function () {
          showToast("An error occurred. Please try again.");
        },
      });
    });

    $(document).on("click", ".category-listed", async (e) => {
      e.preventDefault();

      const categoryId = $(e.currentTarget).data("category-id");

      // SweetAlert confirmation
      const result = await Swal.fire({
        title: "Confirm Action",
        text: "Are you sure you want to list this category?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, list",
        cancelButtonText: "No, cancel",
      });

      // If the user cancels the action, return early
      if (!result.isConfirmed) {
        return;
      }

      $.ajax({
        type: "patch",
        url: `/admin/categories/${categoryId}/list`,
        success: (response) => {
          if (response.success) {
            showToast(response.message);
            $("#category-list").load("/admin/categories #category-list");
          } else {
            showToastError(response.message);
          }
        },
        error: function () {
          showToast("An error occurred. Please try again.");
        },
      });
    });
  });

  function validateForm() {
    let isValid = true;

    const category_name = document.getElementById("category_name");

    if (category_name.value.trim() === "") {
      displayError(category_name, "Categoryname is required");
      isValid = false;
    } else {
      clearError(category_name, "Type here");
    }

    const category_descreption = document.getElementById(
      "category_descreption"
    );

    if (category_descreption.value.trim() === "") {
      displayError(category_descreption, "Discription is required");
      isValid = false;
    } else {
      clearError(category_descreption, "Type here");
    }

    return isValid;
  }

  function displayError(inputField, errorMessage) {
    inputField.classList.add("error");
    inputField.value = "";
    inputField.placeholder = errorMessage;
  }

  function clearError(inputField, originalPlaceholder) {
    inputField.classList.remove("error");
    inputField.placeholder = originalPlaceholder;
  }

  function showToast(message) {
    const toastBody = document.getElementById("toast-body");
    toastBody.textContent = message;

    const toastElement = document.getElementById("toast");
    const toast = new bootstrap.Toast(toastElement);
    toast.show();
  }

  function showToastError(message) {
    const toastBody = document.getElementById("toast-body-error");
    toastBody.textContent = message;

    const toastElement = document.getElementById("toast_error");
    const toast = new bootstrap.Toast(toastElement);
    toast.show();
  }
</script>
