<%- include('partials/head') %>
<style>
  input.error {
    border-color: red;
  }

  input.error::placeholder {
    color: red;
  }

  textarea.error {
    border-color: red;
  }

  textarea.error::placeholder {
    color: red;
  }

  .error-message {
    color: red;
    font-size: 12px;
  }

  .error-input {
    border-color: red;
  }
</style>
<body>
  <div class="screen-overlay"></div>
  <%- include('partials/aside') %>
  <main class="main-wrap">
    <header class="main-header navbar"></header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Offers</h2>
          <p>Add and delete Offers</p>
        </div>
        <div>
          <input
            type="text"
            placeholder="Search Offers"
            class="form-control bg-white"
          />
        </div>
      </div>

      <div class="card" id="offer-list">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form
                id="offerForm"
                action="/admin/offers/add-offer"
                method="post"
              >
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="title" class="form-label">Offer Title</label>
                    <input
                      name="title"
                      type="text"
                      placeholder="Enter offer title"
                      class="form-control"
                      id="title"
                    />
                    <small class="error-message" id="titleError"></small>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="discountType" class="form-label"
                      >Discount Type</label
                    >
                    <select
                      name="discountType"
                      id="discountType"
                      class="form-control"
                    >
                      <option value="">Select one</option>
                      <option value="percentage">Percentage</option>
                      <option value="fixed">Fixed</option>
                    </select>
                    <small class="error-message" id="discountTypeError"></small>
                  </div>
                </div>

                <div class="col-md-12 mb-4">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    name="description"
                    id="description"
                    placeholder="Enter offer description"
                    class="form-control"
                  ></textarea>
                  <small class="error-message" id="descriptionError"></small>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="applicableTo" class="form-label"
                      >Applicable To</label
                    >
                    <select
                      name="applicableTo"
                      id="applicableTo"
                      class="form-control"
                    >
                      <option value="">Select one</option>
                      <option value="brand">Brands</option>
                      <option value="category">Category</option>
                    </select>
                    <small class="error-message" id="applicableToError"></small>
                  </div>

                  <div class="col-md-6 mb-4">
                    <label for="discountValue" class="form-label"
                      >Discount Value</label
                    >
                    <input
                      name="discountValue"
                      type="number"
                      placeholder="Enter discount value"
                      class="form-control"
                      id="discountValue"
                    />
                    <small
                      class="error-message"
                      id="discountValueError"
                    ></small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input
                      name="startDate"
                      type="date"
                      class="form-control"
                      id="startDate"
                    />
                    <small class="error-message" id="startDateError"></small>
                  </div>

                  <div class="col-md-6 mb-4">
                    <label for="endDate" class="form-label">End Date</label>
                    <input
                      name="endDate"
                      type="date"
                      class="form-control"
                      id="endDate"
                    />
                    <small class="error-message" id="endDateError"></small>
                  </div>
                </div>

                <input
                  type="hidden"
                  name="selectedBrands"
                  id="selectedBrands"
                />
                <input
                  type="hidden"
                  name="selectedCategories"
                  id="selectedCategories"
                />

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">
                    Add Offer
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <% if (offers) { %>
              <div class="table-responsive">
                <table id="offerTable" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Offer</th>
                      <th>Discount</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th class="text-end"><span class="me-2">Action</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% offers.forEach(offer => { %>
                    <tr>
                      <td><span class="fw-bold"><%= offer.title %></span></td>
                      <%if(offer.discountType === 'percentage') {%>
                      <td><%= offer.discountValue %>%</td>
                      <%}else {%>
                      <td>₹<%= offer.discountValue %></td>
                      <%}%>
                      <td><%= new Date(offer.startDate).toDateString() %></td>
                      <td><%= new Date(offer.endDate).toDateString() %></td>
                      <td class="text-end">
                        <a
                          class="me-4"
                          onclick="deleteOffer('<%= offer._id %>')"
                          ><i
                            class="fa-solid fa-trash"
                            style="color: #000000"
                          ></i
                        ></a>
                      </td>
                    </tr>
                    <td colspan="6" ><%= offer.description %></td>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div
      id="toast-container"
      aria-live="polite"
      aria-atomic="true"
      class="position-fixed top-0 end-0 p-3"
      style="z-index: 11"
    >
      <div
        id="toast"
        class="toast align-items-center text-white bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div
        id="toast_error"
        class="toast align-items-center text-white bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body-error" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </main>

  <!-- Brand Modal -->
  <div
    class="modal fade"
    id="selectBrandModal"
    tabindex="-1"
    aria-labelledby="selectBrandModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectBrandModalLabel">Select Brands</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h6>Brands</h6>
          <% if(brands && brands.length > 0) {%>
          <div id="brandsContainer">
            <% brands.forEach((brand) => { %>
            <div class="d-flex">
              <input type="checkbox" id="brand1" value="<%= brand.name %>" />
              <label class="m-2"><%= brand.name %></label>
            </div>
            <% }) %>
          </div>
          <%}else{%>
          <p>NO categories available</p>
          <%}%>
          <small class="error-message text-danger" id="brandError"></small>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" id="saveBrandSelection">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Category Modal -->
  <div
    class="modal fade"
    id="selectCategoryModal"
    tabindex="-1"
    aria-labelledby="selectCategoryModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectCategoryModalLabel">
            Select Categories
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h6>Categories</h6>
          <% if(categories && categories.length > 0) {%>
          <div id="categoriesContainer">
            <% categories.forEach((category) => { %>
            <div class="d-flex">
              <input
                type="checkbox"
                id="<%= category.name %>"
                value="<%= category.name %>"
              />
              <label class="m-2"><%= category.name %></label>
            </div>
            <% }) %>
          </div>
          <%}else{%>
          <p>NO categories available</p>
          <%}%>
          <small class="error-message text-danger" id="categoryError"></small>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="saveCategorySelection"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Hidden Input Fields -->
  <input type="hidden" id="selectedBrands" name="selectedBrands" />
  <input type="hidden" id="selectedCategories" name="selectedCategories" />

  <script>
    function deleteOffer(id) {
      swal(
        {
          title: "Are you sure?",
          text: "Once you delete, you can't recover this offer!",
          showCancelButton: true,
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          closeOnConfirm: true,
          closeOnCancel: true,
        },
        function (isConfirm) {
          if (isConfirm) {
            $.ajax({
              url: "/admin/offers/delete",
              type: "DELETE",
              data: { id: id },
              success: function (response) {
                if (response.success) {
                  showToast(response.message);
                  $("#offerTable").load("/admin/offers #offerTable");
                } else {
                  showToastError(response.message);
                }
              },
              error: function (error) {
                showToastError(response.message);
              },
            });
          }
        }
      );
    }
    document
      .getElementById("offerForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();

        if (validateOfferForm()) {
          const formData = $(this).serialize();

          const serializedData = $(this).serializeArray();
          const formObject = {};

          serializedData.forEach((item) => {
            if (
              item.name === "selectedBrands" ||
              item.name === "selectedCategories"
            ) {
              formObject[item.name] = item.value;
            }
          });

          const applicableToError =
            document.getElementById("applicableToError");
          if (!formObject.selectedBrands && !formObject.selectedCategories) {
            applicableToError.innerText = "Applicable field is required";
            return;
          }

          $.ajax({
            type: "POST",
            url: "/admin/offers/add-offer",
            data: formData,
            success: function (response) {
              if (response.success) {
                showToast(response.message);
                $("#offerForm").load("/admin/offers #offerForm");
                $("#offerTable").load("/admin/offers #offerTable");
              } else {
                showToastError(response.message);
              }
            },
            error: function () {
              showToast("An error occurred. Please try again.");
            },
          });
        }

        function validateOfferForm() {
          let isValid = true;

          // Title validation
          const title = document.getElementById("title").value.trim();
          const titleError = document.getElementById("titleError");
          if (title === "") {
            titleError.innerText = "Title is required";
            isValid = false;
          } else {
            titleError.innerText = "";
          }

          // Applicable To validation
          const applicableTo = document
            .getElementById("applicableTo")
            .value.trim();
          const applicableToError =
            document.getElementById("applicableToError");
          if (applicableTo === "") {
            applicableToError.innerText = "Applicable field is required";
            isValid = false;
          } else {
            applicableToError.innerText = "";
          }

          // Discount Type validation
          const discountTypes = document
            .getElementById("discountType")
            .value.trim();
          const discountTypeError =
            document.getElementById("discountTypeError");
          if (discountTypes === "") {
            discountTypeError.innerText = "Discount type required";
            isValid = false;
          } else {
            discountTypeError.innerText = "";
          }

          // Description validation
          const description = document
            .getElementById("description")
            .value.trim();
          const descriptionError = document.getElementById("descriptionError");
          if (description === "") {
            descriptionError.innerText = "Description is required.";
            isValid = false;
          } else {
            descriptionError.innerText = "";
          }

          // Discount Value validation
          const discountType = document.getElementById("discountType").value;
          const discountValue = parseFloat(
            document.getElementById("discountValue").value
          );
          const discountValueError =
            document.getElementById("discountValueError");

          if (isNaN(discountValue) || discountValue <= 0) {
            discountValueError.innerText =
              "Discount value must be a positive number.";
            isValid = false;
          } else if (discountType === "percentage" && discountValue > 100) {
            discountValueError.innerText =
              "Percentage discount cannot exceed 100%.";
            isValid = false;
          } else {
            discountValueError.innerText = "";
          }

          // Start Date validation
          const startDateInput = document.getElementById("startDate").value;
          const startDate = new Date(startDateInput);
          const today = new Date();
          const startDateError = document.getElementById("startDateError");

          startDate.setHours(0, 0, 0, 0);
          today.setHours(0, 0, 0, 0);

          if (startDateInput === "") {
            startDateError.innerText = "Start date is required";
            isValid = false;
          } else if (startDate < today) {
            startDateError.innerText = "Start date cannot be in the past.";
            isValid = false;
          } else {
            startDateError.innerText = "";
          }

          // End Date validation
          const endDateInput = document.getElementById("endDate").value;
          const endDate = new Date(endDateInput);
          const endDateError = document.getElementById("endDateError");

          if (endDateInput === "") {
            endDateError.innerText = "End date is required";
            isValid = false;
          } else if (endDate < startDate) {
            endDateError.innerText =
              "End date must be later than the start date.";
            isValid = false;
          } else {
            endDateError.innerText = "";
          }

          return isValid;
        }
      });

    function showToast(message) {
      const toastBody = document.getElementById("toast-body");
      toastBody.textContent = message;

      const toastElement = document.getElementById("toast");
      const toast = new bootstrap.Toast(toastElement);
      toast.show();
    }

    function showToastError(message) {
      const toastBody = document.getElementById("toast-body-error");
      toastBody.textContent = message;

      const toastElement = document.getElementById("toast_error");
      const toast = new bootstrap.Toast(toastElement);
      toast.show();
    }

    document
      .getElementById("applicableTo")
      .addEventListener("change", function () {
        const applicableValue = this.value;
        if (applicableValue === "brand") {
          $("#selectBrandModal").modal("show");
        } else if (applicableValue === "category") {
          $("#selectCategoryModal").modal("show");
        }
      });

    document
      .getElementById("saveBrandSelection")
      .addEventListener("click", function () {
        const brandCheckboxes = document.querySelectorAll(
          "#brandsContainer input[type='checkbox']"
        );
        let atLeastOneChecked = false;
        brandCheckboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            atLeastOneChecked = true;
          }
        });
        if (!atLeastOneChecked) {
          document.getElementById("brandError").innerText =
            "Please select at least one brand.";
          return;
        } else {
          document.getElementById("brandError").innerText = "";
        }

        const selectedBrands = [];
        brandCheckboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            selectedBrands.push(checkbox.value);
          }
        });
        document.getElementById("selectedBrands").value =
          JSON.stringify(selectedBrands);
        $("#selectBrandModal").modal("hide");
      });

    document
      .getElementById("saveCategorySelection")
      .addEventListener("click", function () {
        const categoryCheckboxes = document.querySelectorAll(
          "#categoriesContainer input[type='checkbox']"
        );
        let atLeastOneChecked = false;
        categoryCheckboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            atLeastOneChecked = true;
          }
        });
        if (!atLeastOneChecked) {
          document.getElementById("categoryError").innerText =
            "Please select at least one category.";
          return;
        } else {
          document.getElementById("categoryError").innerText = ""; // Clear error message
        }

        const selectedCategories = [];
        categoryCheckboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            selectedCategories.push(checkbox.value);
          }
        });
        document.getElementById("selectedCategories").value =
          JSON.stringify(selectedCategories);
        $("#selectCategoryModal").modal("hide");
      });
  </script>
</body>
