<%- include('partials/head') %>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="/admin" class="brand-wrap">
        <img
          src="/images/icons/logo-1.png"
          class="logo"
          alt="Evara Dashboard"
        />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item active">
          <a class="menu-link" href="/admin">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/products">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products List</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/orders">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders list</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-store"></i>
            <span class="text">Sales Report</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/add_product">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Add product</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/users">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/brands">
            <i class="icon material-icons md-stars"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" disabled href="/admin/categories">
            <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Categories</span>
          </a>
        </li>
      </ul>
      <hr />
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link text-danger" onclick="logout()"
            ><i class="icon material-icons md-exit_to_app"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar"></header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Order detail</h2>
          <p>Details for Order ID: <%= order._id %></p>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
              <span>
                <i class="material-icons md-calendar_today"></i>
                <b><%= new Date(order.placedAt).toDateString() %></b>
              </span>
              <br />
              <small class="text-muted">Order ID: <%= order._id %></small>
            </div>
            <div class="col-lg-6 col-md-6 ms-auto text-md-end">
              <form id="statusForm">
                <input type="hidden" name="orderId" value="<%= order._id %>" />
                <%if(order.orderStatus !== "Cancelled") {%>
                <select
                  id="orderStatus"
                  name="status"
                  class="form-select d-inline-block mb-lg-0 mb-15 mw-200"
                >
                  <option value="">Change status</option>
                  <option value="Processing">Processing</option>
                  <option value="Shipped">Shipped</option>
                  <option value="Delivered">Delivered</option>
                  <option value="Cancelled">Cancelled</option>
                </select>
                <button type="submit" class="btn btn-primary">Save</button>
                <%} else {%>
                <button class="btn btn-danger">Order cancelled</button>
                <%}%>
              </form>
            </div>
          </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
          <div id="order-head" class="row mb-50 mt-20 order-info-wrap">
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light">
                  <i class="text-primary material-icons md-person"></i>
                </span>
                <div class="text">
                  <h6 class="mb-1">Customer</h6>
                  <p class="mb-1">
                    <%= order.userId.firstName + "" + order.userId.lastName %>
                    <br />
                    <%= order.userId.email %>
                  </p>
                </div>
              </article>
            </div>
            <!-- col// -->
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light">
                  <i class="text-primary material-icons md-local_shipping"></i>
                </span>
                <div class="text">
                  <h6 class="mb-1">Order info</h6>
                  <p class="mb-1">
                    Payment Status: <%= order.paymentStatus %> <br />
                    Pay method: <%= order.paymentMethod %> <br />
                    Status: <%= order.orderStatus %>
                  </p>
                </div>
              </article>
            </div>
            <!-- col// -->
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light">
                  <i class="text-primary material-icons md-place"></i>
                </span>
                <div class="text">
                  <h6 class="mb-1">Deliver to</h6>
                  <p class="mb-1">
                    <%= order.shippingAddress.name %> <br />
                    <%= order.shippingAddress.locality %>, <%=
                    order.shippingAddress.city %> <br />
                    <%= order.shippingAddress.state + " " +
                    order.shippingAddress.pincode %> <br />
                    <%= "Mobile " + order.shippingAddress.mobile %> <br />
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="40%">Product</th>
                      <th width="20%">Unit Price</th>
                      <th width="20%">Quantity</th>
                      <th width="20%" class="text-end">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order.items.forEach((item) => { %>
                    <tr>
                      <td>
                        <a class="itemside" href="#">
                          <div class="left">
                            <img
                              src="<%= item.product.images[0] %>"
                              width="40"
                              height="40"
                              class="img-xs"
                              alt="Item"
                            />
                          </div>
                          <div class="info"><%= item.product.name %></div>
                        </a>
                      </td>
                      <td>₹ <%= item.price %></td>
                      <td><%= item.quantity %></td>
                      <td class="text-end">
                        ₹ <%= item.price * item.quantity %>
                      </td>
                    </tr>
                    <% }) %>
                    <tr>
                      <td colspan="4">
                        <article class="float-end">
                          <dl class="dlist">
                            <dt>Subtotal:</dt>
                            <dd>₹ <%= order.totalPrice %></dd>
                          </dl>
                          <dl class="dlist">
                            <dt>Shipping cost:</dt>
                            <dd><%= order.shippingFee %></dd>
                          </dl>
                          <dl class="dlist">
                            <dt>Grand total:</dt>
                            <dd>
                              <b class="h5"
                                >₹ <%= order.totalPrice + order.shippingFee
                                %></b
                              >
                            </dd>
                          </dl>
                        </article>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- col// -->
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
              <div class="box shadow-sm bg-light">
                <h6 class="mb-15">Payment info</h6>
                <p><%= order.paymentMethod %> <br /></p>
              </div>
            </div>
            <!-- col// -->
          </div>
        </div>
      </div>
    </section>
    <div
      id="toast-container"
      aria-live="polite"
      aria-atomic="true"
      class="position-fixed top-0 end-0 p-3"
      style="z-index: 11"
    >
      <div
        id="toast"
        class="toast align-items-center text-white bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div
        id="toast_error"
        class="toast align-items-center text-white bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body-error" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      document
        .getElementById("statusForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const statusSelect = document.getElementById("orderStatus").value;
          const orderId = document.querySelector('input[name="orderId"]').value;

          const formData = $(this).serialize();
          if (statusSelect === "") {
            showToastError("No change made");
            return;
          }

          $.ajax({
            type: "PATCH",
            url: "/admin/orders/change-status",
            data: formData,
            success: function (response) {
              if (response.success) {
                showToast(response.message);
                location.reload();
              } else {
                showToastError(response.message);
              }
            },
            error: function () {
              showToastError("An error occurred. Please try again.");
            },
          });
        });
      function showToast(message) {
        const toastBody = document.getElementById("toast-body");
        toastBody.textContent = message;

        const toastElement = document.getElementById("toast");
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
      }

      function showToastError(message) {
        const toastBody = document.getElementById("toast-body-error");
        toastBody.textContent = message;

        const toastElement = document.getElementById("toast_error");
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
      }
    </script>
  </main>
</body>
