<%- include('partials/head') %>

<body>
  <div class="screen-overlay"></div>
  <%- include('partials/aside') %>
  <main class="main-wrap">
    <header class="main-header navbar">
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Order List</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <input
            type="text"
            placeholder="Search order ID"
            class="form-control bg-white"
          />
        </div>
      </div>
      <div class="card mb-4">
        <header class="card-header">
          <div class="row gx-3">
            <!-- <div class="col-lg-2 col-6 col-md-3">
              <select class="form-select">
                <option>Status</option>
                <option>Active</option>
                <option>Disabled</option>
                <option>Show all</option>
              </select>
            </div> -->
            <div class="col-lg-2 col-md-3 col-6">
              <select class="form-select" id="limitSelect">
                <option value="4" <%= limit === 4 ? 'selected' : '' %>>Show 4</option>
                <option value="8" <%= limit === 8 ? 'selected' : '' %>>Show 8</option>
                <option value="12" <%= limit === 12 ? 'selected' : '' %>>Show 12</option>
              </select>
            </div>
          </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
          <div class="table-responsive">
            <%if(orders){%>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col" class="text-end"></th>
                </tr>
              </thead>
              <tbody>
                <% orders.forEach((order) => {%>
                <tr>
                  <td>
                    <b
                      ><%= order.userId.firstName + " " +
                      order.userId.lastName%></b
                    >
                  </td>
                  <td><%= order.userId.email %></td>
                  <td>₹ <%= order.totalPrice %></td>
                  <td>
                    <span class="badge rounded-pill alert-warning w-50"
                      ><%= order.orderStatus %></span
                    >
                  </td>
                  <td><%= new Date(order.placedAt).toDateString() %></td>
                  <td>
                    <a
                      href="/admin/orders/<%= order._id %>"
                      class="btn btn-md rounded font-sm"
                      >Detail</a
                    >
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
            <%} else {%>
            <p>No orders</p>
            <%}%>
          </div>
          <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
      </div>
      <!-- card end// -->
      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
              >
                <i class="material-icons md-chevron_left"></i>
              </a>
            </li>
            <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>">
                <%= i %>
              </a>
            </li>
            <% } %> <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
              >
                <i class="material-icons md-chevron_right"></i>
              </a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
    <!-- content-main end// -->
    <%- include('partials/footer') %>
    <script>
      document
        .getElementById("limitSelect")
        .addEventListener("change", function () {
          const selectedLimit = this.value; 
          const url = new URL(window.location.href);
    
          url.searchParams.set("limit", selectedLimit);
    
          window.location.href = url.toString();
        });
    </script>
  </main>
</body>
