<%- include('partials/head') %>
<body>
  <div class="screen-overlay"></div>
  <%- include('partials/aside') %>
  <main class="main-wrap">
    <header class="main-header navbar">
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Users</h2>
          <p>.</p>
        </div>
      </div>
      <div class="card mb-4">
        <header class="card-header">
          <div class="row d-flex align-items-center">
            <form action="/admin/users" method="GET" class="d-flex col-lg-6 col-md-8 me-auto">
              <div class="flex-grow-1 me-2">
                <input 
                  type="text" 
                  name="user" 
                  placeholder="Search..." 
                  class="form-control" 
                />
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <div class="col-lg-2 col-md-3 col-6">
              <select class="form-select" id="limitSelect">
                <option value="4" <%= limit === 4 ? 'selected' : '' %>>Show 4</option>
                <option value="8" <%= limit === 8 ? 'selected' : '' %>>Show 8</option>
                <option value="12" <%= limit === 12 ? 'selected' : '' %>>Show 12</option>
              </select>
            </div>
          </div>
        </header>
        
        <!-- card-header end// -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Join Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(user => { %>
                <tr>
                  <td><b><%= user.firstName %> <%= user.lastName %></b></td>
                  <td><%= user.email %></td>
                  <td>
                    <% if (!user.is_blocked) { %>
                    <span class="badge bg-success w-50">Active</span>
                    <% } else { %>
                    <span class="badge bg-danger w-50">Blocked</span>
                    <% } %>
                  </td>
                  <td><%= new Date(user.signUpDate).toDateString() %></td>
                  <td>
                    <% if (!user.is_blocked) { %>
                    <button
                      style="width: 80px"
                      data-user-id="<%= user._id %>"
                      data-action="block"
                      class="btn btn-danger btn-sm btn-block"
                    >
                      Block
                    </button>
                    <% } else { %>
                    <button
                      style="width: 80px"
                      data-user-id="<%= user._id %>"
                      data-action="unblock"
                      class="btn btn-warning btn-sm btn-block"
                    >
                      Unblock
                    </button>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">
                <i class="material-icons md-chevron_left"></i>
              </a>
            </li>
            <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"> <%= i %> </a>
            </li>
            <% } %> <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">
                <i class="material-icons md-chevron_right"></i>
              </a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
    <div
      id="toast-container"
      aria-live="polite"
      aria-atomic="true"
      class="position-fixed top-0 end-0 p-3"
      style="z-index: 11"
    >
      <div
        id="toast"
        class="toast align-items-center text-white bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const tableBody = document.querySelector("tbody");
    
        tableBody.addEventListener("click", async function (e) {
          const button = e.target;
    
          if (button.classList.contains("btn-block")) {
            const userId = button.dataset.userId;
            const action = button.dataset.action;

            const confirmationMessage = action === "block" ? 
              "Are you sure you want to block this user?" : 
              "Are you sure you want to unblock this user?";

            const result = await Swal.fire({
              title: 'Confirm Action',
              text: confirmationMessage,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Yes, proceed',
              cancelButtonText: 'No, cancel',
            });
    
            if (!result.isConfirmed) {
              return;
            }
    
            const requestUrl = `/admin/user/${action}_user/${userId}`;
            console.log("Request URL:", requestUrl);
    
            fetch(requestUrl, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => {
                console.log("Server Response:", response); 
                return response.json();
              })
              .then((data) => {
                if (data.success) {
                  const row = button.closest("tr");
                  const statusBadge = row.querySelector("span.badge");
    
                  if (data.status === "blocked") {
                    showToast(data.message);
                    statusBadge.classList.remove("bg-success");
                    statusBadge.classList.add("bg-danger");
                    statusBadge.textContent = "Blocked";
    
                    button.textContent = "Unblock";
                    button.classList.remove("btn-danger");
                    button.classList.add("btn-warning");
                    button.dataset.action = "unblock";
                  } else {
                    showToast(data.message);
                    statusBadge.classList.remove("bg-danger");
                    statusBadge.classList.add("bg-success");
                    statusBadge.textContent = "Active";
    
                    button.textContent = "Block";
                    button.classList.remove("btn-warning");
                    button.classList.add("btn-danger");
                    button.dataset.action = "block";
                  }
                } else {
                  console.error("Failed to update user status");
                }
              })
              .catch((error) => console.error("Error:", error));
          }
        });
      });
    
      function showToast(message) {
        const toastBody = document.getElementById("toast-body");
        toastBody.textContent = message;
    
        const toastElement = document.getElementById("toast");
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
      }
    
      document
        .getElementById("limitSelect")
        .addEventListener("change", function () {
          const selectedLimit = this.value; 
          const url = new URL(window.location.href);
    
          url.searchParams.set("limit", selectedLimit);
    
          window.location.href = url.toString();
        });
    </script>
  </main>
</body>
