<%- include('partials/head') %>
<html>
  <body class="animsition">
    <!-- Header -->
    <header class="header-v4">
      <!-- Header desktop -->
      <div class="container-menu-desktop">
        <div class="wrap-menu-desktop how-shadow1">
          <nav class="limiter-menu-desktop container">
            <!-- Logo desktop -->
            <a href="/" class="logo">
              <img src="/images/icons/logo-1.png" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li>
                  <a href="/">Home</a>
                </li>

                <li>
                  <a href="/shop">Shop</a>
                </li>

                <li>
                  <a href="/blog">Blog</a>
                </li>

                <li>
                  <a href="/about">About</a>
                </li>

                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m">
              <a href="/cart">
                <div
                  class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>
              </a>
              <a
                href="/"
                class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
              >
                <i class="zmdi zmdi-favorite-outline"></i>
              </a>
              <a
                href="/profile"
                class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11"
              >
                <i class="fa-solid fa-circle-user"></i>
              </a>
            </div>
          </nav>
        </div>
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
          <a href="/"><img src="/images/icons/logo-1.png" alt="IMG-LOGO" /></a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <ul class="main-menu-m">
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/shop">Shop</a>
          </li>

          <li>
            <a href="/blog">Blog</a>
          </li>

          <li>
            <a href="/about">About</a>
          </li>

          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/profile">Contact</a>
          </li>
          <li>
            <a href="/wishlist">Contact</a>
          </li>
        </ul>
      </div>
    </header>

    <!-- breadcrumb -->
    <div class="container">
      <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
          Home
          <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4"> Shoping Cart </span>
      </div>
    </div>
    <div class="container" id="cartTable" style="min-height: 75vh">
      <% if (cart && cart.items.length > 0) {%>
      <!-- Shopping Cart -->
      <form class="bg0 p-t-75 p-b-85">
        <div class="">
          <div class="row">
            <div class="col-lg-12 col-xl-8 m-lr-auto m-b-50">
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart table-responsive table-hover">
                  <thead>
                    <tr class="table_head">
                      <th class="column-1">Product</th>
                      <th class="column-2"></th>
                      <th class="column-3">Quantity</th>
                      <th class="column-5">Total</th>
                      <th class="column-7">remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% cart.items.forEach(item => { %>
                    <tr class="table_row">
                      <td class="column-1">
                        <div class="how-itemcart1">
                          <img
                            src="<%= item.productId.images[0] %>"
                            alt="IMG"
                          />
                        </div>
                      </td>
                      <td class="column-2">
                        <%= item.productId.name %> <br /><span
                          >₹<%= item.productId.price.toFixed(2) %></span
                        >
                      </td>
                      <td class="column-4">
                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                          <div onclick="updateCartQuantity(`<%= item.productId._id %>`, 0)"
                            class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
                          >
                            <i class="fs-16 zmdi zmdi-minus"></i>
                          </div>
                          <input
                            class="mtext-104 cl3 txt-center num-product"
                            type="number"
                            name="num-product<%= item.productId._id %>"
                            value="<%= item.quantity %>"
							disabled
                          />

                          <div onclick="updateCartQuantity(`<%= item.productId._id %>`, 1)"
                            class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
                          >
                            <i class="fs-16 zmdi zmdi-plus"></i>
                          </div>
                        </div>
                      </td>
                      <td class="column-5">
                        ₹<%= (item.productId.price * item.quantity).toFixed(2)
                        %>
                      </td>
                      <td class="column-6">
                        <a
                          class="text-danger"
                          onclick="removeFromCart(`<%= item.productId._id %>`)"
                          ><i class="fa-regular fa-trash-can"></i
                        ></a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>

              <div class="flex-w flex-sb-m p-t-18 p-b-15 p-lr-15">
                <div
                  class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer"
                >
                  Update Cart
                </div>
              </div>
            </div>

            <div class="col-lg-4 m-lr-auto m-b-50">
              <div class="bor10 p-lr-40 p-t-30 p-b-40">
                <h4 class="ltext-320 p-b-30">Cart Totals</h4>
                <div class="flex-w flex-t p-b-13">
                  <div class="size-208">
                    <span class="stext-110 cl22">Subtotal:</span>
                  </div>
                  <div class="size-209">
                    <span class="mtext-110 cl22"
                      >$ <%= cart.totalPrice.toFixed(2) %></span
                    >
                  </div>
                </div>
                <div class="flex-w flex-t p-b-13">
                  <div class="size-208">
                    <span class="stext-110 cl22">Shipping:</span>
                  </div>
                  <div class="size-209">
                    <span class="mtext-110 cl22"
                      >Free</span
                    >
                  </div>
                </div>

                <div class="flex-w flex-t p-t-27 p-b-33">
                  <div class="size-208">
                    <span class="mtext-101 cl22">Total:</span>
                  </div>
                  <div class="size-209">
                    <span class="mtext-110 cl22"
                      >$ <%= cart.totalPrice.toFixed(2) %></span
                    >
                  </div>
                </div>

                <a href="/checkout"
                  class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                >
                  Proceed to Checkout
			</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <%} else {%>
      <h6 class="text-center mt-4">Your cart is empty</h6>
      <%}%>
    </div>
    <%- include('partials/footer') %>

    <script>
      function updateCartQuantity(productId, isIncrement) {
        $.ajax({
          url: "/cart/update-quantity",
          method: "POST",
          data: {
            productId: productId,
            isIncrement: isIncrement,
          },
          success: function (response) {
            if (response.success) {
			  $("#cartTable").load("/cart #cartTable > *");
            } else {
              showToastifyError(response.message);
            }
          },
          error: function () {
            showToastifyError("Failed to update quantity. Please try again.");
          },
        });
      }

      function removeFromCart(id) {
        showConfirmationDialog(
          "Are you sure?",
          "You don't need this product",
          "Romve",
          "Cancel",
          "btn-success"
        ).then((isConfirm) => {
          if (isConfirm) {
            $.ajax({
              url: "/cart/reove-from-cart",
              type: "DELETE",
              data: { id: id },
              success: function (response) {
                if (response.success) {
                  showToastifySuccess(response.message);
                  $("#cartTable").load("/cart #cartTable > *");
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (error) {
                showToastifyError(
                  "An error occurred while deleting the address."
                );
              },
            });
          }
        });
      }
    </script>
  </body>
</html>
