<%- include('partials/head') %>
  <body class="animsition">
    <!-- Header -->
    <header class="header-v3">
      <!-- Header desktop -->
      <div class="container-menu-desktop trans-03">
        <div class="wrap-menu-desktop">
          <nav class="limiter-menu-desktop p-l-45">
            <!-- Logo desktop -->
            <a href="/" class="logo">
              <img src="images/icons/logo-02.png" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li>
                  <a href="/">Home</a>
                </li>

                <li>
                  <a href="/shop">Shop</a>
                </li>

                <li>
                  <a href="/blog">Blog</a>
                </li>

                <li>
                  <a href="/about">About</a>
                </li>

                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m h-full">
              <div class="flex-c-m h-full p-r-25 bor6">
                <a href="/cart">
                <div
                  class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 "
                >
                  <i class="zmdi zmdi-shopping-cart"></i>
                </div>
              </a>
                <a href="/wishlist">
                <div
                  class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11 "
                >
                <i class="zmdi zmdi-favorite-outline"></i>
                </div>
              </a>
                <a href="/profile">
                <div
                  class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11"
                >
                  <i class="fa-solid fa-circle-user"></i>
                </div>
              </a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <!-- Header Mobile -->
      <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
          <a href="/"
            ><img src="images/icons/logo-1.png" alt="IMG-LOGO"
          /></a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>

      <!-- Menu Mobile -->
      <div class="menu-mobile">
        <ul class="main-menu-m">
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/shop">Shop</a>
          </li>
          <li>
            <a href="/wishlist">Wishlist </a>
          </li>

          <li>
            <a href="/profile">My Account </a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>

          <li>
            <a href="/about">About</a>
          </li>

          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </header>

    <!-- Slider -->
    <section class="section-slide">
      <div class="wrap-slick1">
        <div class="slick1">
          <div
            class="item-slick1"
            style="background-image: url(/images/photographer4.jpg)"
          >
            <div class="container h-full">
              <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="0"
                >
                  <span class="ltext-101 cl2 respon2">
                    Cameras for Every Perspective
                  </span>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="800"
                >
                  <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                    Every Angle, Every Shot
                  </h2>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="1600"
                >
                  <a
                    href="/shop"
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                  >
                    Shop Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="item-slick1"
            style="background-image: url(/images/photorapher5.jpg)"
          >
            <div class="container h-full">
              <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="0"
                >
                  <span class="ltext-101 cl2 respon2">
                    Unleash Your Inner Photographer!
                  </span>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="800"
                >
                  <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                    Capture Every Moment in Stunning Detail
                  </h2>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="1600"
                >
                  <a
                    href="/shop"
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                  >
                    Shop Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div
            class="item-slick1"
            style="background-image: url(/images/drone2.jpg)"
          >
            <div class="container h-full">
              <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="0"
                >
                  <span class="ltext-101 cl2 respon2">
                    Elevate Your Perspective
                  </span>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="800"
                >
                  <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                    See the World from New Heights
                  </h2>
                </div>

                <div
                  class="layer-slick1 animated visible-false"
                  data-appear="fadeInDown"
                  data-delay="1600"
                >
                  <a
                    href="/shop"
                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                  >
                    Shop Now
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Banner -->
    <div class="sec-banner bg0 p-t-80 p-b-50">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
              <img src="/images/cam1.jpg" alt="IMG-BANNER">
  
              <a href="/shop?search=&brand=&category=Camera&sort=" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                <div class="block1-txt-child1 flex-col-l">
                  <span class="block1-name ltext-102 trans-04 p-b-8">
                    Cameras
                  </span>
  
                  <span class="block1-info stext-102 trans-04">
                     2024
                  </span>
                </div>
  
                <div class="block1-txt-child2 p-b-4 trans-05">
                  <div class="block1-link stext-101 cl0 trans-09">
                    Shop Now
                  </div>
                </div>
              </a>
            </div>
          </div>
  
          <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
              <img src="/images/lens1.jpg" alt="IMG-BANNER">
  
              <a href="/shop?search=&brand=&category=Lenses&sort=" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                <div class="block1-txt-child1 flex-col-l">
                  <span class="block1-name ltext-102 trans-04 p-b-8">
                    Lens
                  </span>
  
                  <span class="block1-info stext-102 trans-04">
                    2024
                  </span>
                </div>
  
                <div class="block1-txt-child2 p-b-4 trans-05">
                  <div class="block1-link stext-101 cl0 trans-09">
                    Shop Now
                  </div>
                </div>
              </a>
            </div>
          </div>
  
          <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w">
              <img src="/images/cam7.jpg" alt="IMG-BANNER">
  
              <a href="/shop?search=&brand=&category=Accessories&sort=" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                <div class="block1-txt-child1 flex-col-l">
                  <span class="block1-name ltext-102 trans-04 p-b-8">
                    Accessories
                  </span>
  
                  <span class="block1-info stext-102 trans-04">
                    New
                  </span>
                </div>
  
                <div class="block1-txt-child2 p-b-4 trans-05">
                  <div class="block1-link stext-101 cl0 trans-09">
                    Shop Now
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Product -->
    <section class="bg0 p-t-23 p-b-140">
      <div class="container">
        <div class="p-b-10">
          <h3 class="ltext-103 cl5">Product Overview</h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
          <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            <button
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
              data-filter="*"
            >
              All Products
            </button>

            <button
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
              data-filter=".Camera"
            >
              Camera
            </button>

            <button
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
              data-filter=".Lenses"
            >
              Lens
            </button>

            <button
              class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
              data-filter=".Accessories"
            >
              Accessories
            </button>
          </div>
        </div>

        <div class="row isotope-grid">
          <% product.forEach((item) => { %>
          <div
            class="col-6 col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= item.category.name %>"
          >
          <a href="/product-detail?product=<%= item._id %>">
            <div class="block2">
              <div class="block2-pic hov-img0">
                <img src="<%= item.images[0] %>" alt="IMG-PRODUCT" />

                <a
                onclick="addToCart(`<%= item._id %>`)"
                  class="block2-btn flex-c-m stext-103 cl2 size-102 bg10 bor2 hov-btn1 p-lr-15 trans-04"
                >
                  Add to Cart
              </a>
              </div>

              <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l">
                  <p
                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                  >
                    <%= item.name %>
                </p>
                <div class="d-flex">
                  <%if(item.stock < 1) {%>
                    <span class="cl3 text-danger"> Currently unavailable </span>
                    <%} else {%>
                    <% if(item.discount_price > 0) {%>
                    <span class="cl3 px-2"> ₹<%= (item.discount_price).toFixed(2) %> </span>
                    <span style="text-decoration: line-through; color: #ff000076;" class="cl3"> ₹<%= (item.price).toFixed(2) %> </span>
                    <%}else{%>
                    <span class="cl3 px-2"> ₹<%= item.price.toFixed(2) %> </span>
                    <%}%>
                    <%}%>
                  </div>
                </div>

                <div class="block2-txt-child2 flex-r p-t-3">
                  <div class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <% if(wishlist && wishlist.items.length > 0) {%>
                      <% if (wishlist.items.some(wishlistItem => wishlistItem.productId.toString() === item._id.toString())) { %>
                        <!-- If item is in wishlist, show red heart -->
                        <a
                          onclick="removeFromWishlist('<%= item._id %>', this)"
                          class="icon-heart2 dis-block trans-04 ab-t-l"
                        >
                          <i class="fa-solid fa-heart" style="color: #ff0000"></i>
                        </a>
                      <% } else { %>
                        <!-- If item is NOT in wishlist, show black heart -->
                        <a
                          onclick="addToWishlist('<%= item._id %>', this)"
                          class="icon-heart1 dis-block trans-04"
                        >
                          <i class="fa-regular fa-heart"></i>
                        </a>
                      <% } %>
                    <% } else { %>   
                      <!-- Default black heart for items not in wishlist -->
                      <a
                        onclick="addToWishlist('<%= item._id %>', this)"
                        class="icon-heart1 dis-block trans-04"
                      >
                        <i class="fa-regular fa-heart"></i>
                      </a>
                    <% } %>                   
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <div class="container m-b-100">
      <div class="p-b-100 text-center">
        <h3 class="ltext-103 cl5">Capture the moment with the best gear</h3>
      </div>
      <div class="gallery-wrap">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
        <div class="item item-5"></div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <script>
      $(".parallax100").parallax100();
    </script>

    <script>
      $(".gallery-lb").each(function () {
        // the containers for all your galleries
        $(this).magnificPopup({
          delegate: "a", // the selector for gallery item
          type: "image",
          gallery: {
            enabled: true,
          },
          mainClass: "mfp-fade",
        });
      });
    </script>
   
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
  </body>
</html>
