<%- include('partials/head') %>
<html>
  <style>
    .is-invalid ~ .invalid-feedback {
      display: block;
    }
    .form-group {
      margin-bottom: 1.5rem;
    }
    .nav-link {
      color: #000000 !important;
    }
    .list-group-item.active {
      background-color: #000000 !important;
      color: white;
      border-color: #000000;
    }
    #showAddAddressButton {
      cursor: pointer;
    }
    #containers {
      min-height: 100vh;
    }
    .modal-body {
      z-index: 4;
    }
    .progressbar {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-radius: 15px;
      color: #000000;
    }
    .progress-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #8c8c8c;
    }
    .progress-step.active {
      color: #000000;
    }
    .progress-step .step-number {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #bbb;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .progress-step.active .step-number {
      background-color: #000000;
      color: #ffffff;
    }
    .progress-step .step-number.bg-danger {
      background-color: #dc3545;
      color: #fff;
    }
    .progress-line {
      flex: 1;
      height: 2px;
      background-color: #bbb;
      position: relative;
      top: 14px;
    }
    .progress-line.active {
      background-color: #000000;
    }
  </style>
  <body id="full-body">
    <!-- Header -->
    <%- include('partials/navbar') %>

    <div id="containers" class="container mt-4">
      <h2>My Account</h2>
      <hr />
      <div class="row">
        <!-- Sidebar for Navigation Tabs -->
        <div class="col-md-3 mb-4">
          <div class="list-group" id="profileTabs" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              id="user-info-tab"
              data-bs-toggle="list"
              href="#user-info"
              role="tab"
              aria-controls="user-info"
              >My profile</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="orders-tab"
              data-bs-toggle="list"
              href="#orders"
              role="tab"
              aria-controls="orders"
              >My Orders</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="address-management-tab"
              data-bs-toggle="list"
              href="#address-management"
              role="tab"
              aria-controls="address-management"
              >Address Management</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="password-reset-tab"
              data-bs-toggle="list"
              href="#wallet-management"
              role="tab"
              aria-controls="wallet-management"
              >Wallet</a
            >
            <a
              class="list-group-item list-group-item-action"
              onclick="userLogout()"
              role="tab"
              >Logout</a
            >
          </div>
        </div>

        <!-- Main Content for Tab Panes -->
        <div class="col-md-9">
          <div class="tab-content" id="profileTabContent">
            <!-- User Information Section -->
            <div
              class="tab-pane fade show active"
              id="user-info"
              role="tabpanel"
              aria-labelledby="user-info-tab"
            >
              <form id="updateForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="hidden" name="id" value="<%=user.id%>" />
                      <label for="firstName">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        value="<%= user.firstName %>"
                        name="firstName"
                      />
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        value="<%= user.lastName %>"
                        name="lastName"
                      />
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        disabled
                        value="<%= user.email %>"
                      />
                    </div>
                  </div>

                  <!-- Password update section (optional) -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="currentPassword">Current Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="currentPassword"
                        name="currentPassword"
                      />
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                      <label for="newPassword">New Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        name="newPassword"
                      />
                      <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                      <label for="confirmPassword">Confirm New Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                      />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-dark mt-3">
                  Update Profile
                </button>
              </form>
            </div>

            <!-- Order Management Section -->
            <div
              class="tab-pane fade"
              id="orders"
              role="tabpanel"
              aria-labelledby="orders-tab"
            >
              <% if (order.length > 0) { %>
              <h3 class="mb-3">Orders</h3>

              <!-- Pending Order with Cancel Option -->
              <% order.forEach((order) => { %>
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Order #<%= order._id %></h5>
                  <% if(order.orderStatus === "Delivered") { %>
                  <a
                    class="card-text m-2"
                    href="/profile/download-invoice/<%= order._id %>"
                    >Download Invoice</a
                  >
                  <%}%>
                  <p class="card-text m-2">Status: <%= order.orderStatus %></p>

                  <!-- Button to view order details -->
                  <button
                    class="btn btn-outline-dark my-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#orderDetails<%= order._id %>"
                    aria-expanded="false"
                    aria-controls="orderDetails<%= order._id %>"
                  >
                    View Order Details
                  </button>

                  <!-- Button to cancel the order -->
                  <%if(order.orderStatus === 'Shipped') {%>
                  <a type="hidden"></a>
                  <%} else if(order.orderStatus=== 'Delivered' && new Date() <
                  new Date(order.placedAt.getTime() + 7 * 24 * 60 * 60 * 1000))
                  {%>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-danger text-white"
                    data-order-id="<%= order._id %>"
                    onclick="returnOrder(this)"
                    >Return Order</a
                  >
                  <%} else if(order.orderStatus !== 'Cancelled' &&
                  order.orderStatus !== 'Returned' && order.orderStatus !==
                  'Delivered'){%>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-danger text-white"
                    data-order-id="<%= order._id %>"
                    onclick="cancelOrder(this)"
                    >Cancel Order</a
                  >
                  <%}%>

                  <!-- Order Details Section (Collapsible) -->
                  <div class="collapse mt-3" id="orderDetails<%= order._id %>">
                    <!-- Tabs for Order Details -->
                    <ul
                      class="nav nav-tabs"
                      id="orderDetailsTab"
                      role="tablist"
                    >
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link active"
                          id="product-details-tab-<%= order._id %>"
                          data-bs-toggle="tab"
                          href="#product-details-<%= order._id %>"
                          role="tab"
                          aria-controls="product-details-<%= order._id %>"
                          aria-selected="true"
                        >
                          Product Details
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link"
                          id="shipping-details-tab-<%= order._id %>"
                          data-bs-toggle="tab"
                          href="#shipping-details-<%= order._id %>"
                          role="tab"
                          aria-controls="shipping-details-<%= order._id %>"
                          aria-selected="false"
                        >
                          Shipping Details
                        </a>
                      </li>
                    </ul>

                    <!-- Tab Content for Order Details -->
                    <div
                      class="tab-content mt-3"
                      id="orderDetailsTabContent<%= order._id %>"
                    >
                      <!-- Product Details Tab -->
                      <div
                        class="tab-pane fade show active"
                        id="product-details-<%= order._id %>"
                        role="tabpanel"
                        aria-labelledby="product-details-tab-<%= order._id %>"
                      >
                        <p class="my-2">
                          <strong>Order Date:</strong> <%= new
                          Date(order.placedAt).toDateString() %>
                        </p>
                        <p class="my-2">
                          <strong>Payment:</strong> <%= order.paymentStatus %>
                        </p>
                        <p class="my-2">
                          <strong>Status:</strong> <%= order.orderStatus %>
                        </p>

                        <!-- Table for showing all ordered products -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Image</th>
                              <th scope="col">Product</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Price</th>
                              <th scope="col">Subtotal</th>
                              <%if(order.orderStatus === 'Delivered'){%>
                              <th>Rate</th>
                              <%}%>
                            </tr>
                          </thead>
                          <tbody>
                            <% order.items.forEach((item) => { %>
                            <tr>
                              <td>
                                <img
                                  src="<%= item.product.images[0] %>"
                                  alt="<%= item.product.name %>"
                                  class="img-fluid"
                                  style="width: 80px"
                                />
                              </td>
                              <td><%= item.product.name %></td>
                              <td><%= item.quantity %></td>
                              <td>₹ <%= item.price %></td>
                              <td>₹ <%= item.price * item.quantity %></td>
                              <%if(order.orderStatus === 'Delivered'){%>
                              <td>
                                <a
                                  href="javascript:void(0);"
                                  class="btn btn-dark text-white"
                                  data-bs-toggle="modal"
                                  data-bs-target="#ratingReviewModal"
                                  data-productId-id="<%= item.product._id %>"
                                  onclick="setProductId(this)"
                                >
                                  Add Review
                                </a>
                              </td>
                              <%}%>
                            </tr>
                            <% }) %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th colspan="4" class="text-end">Subtotal:</th>
                              <th>
                                ₹ <%= order.totalPrice + order.discount %>
                              </th>
                            </tr>
                            <tr>
                              <% if(order.discount && order.couponCode){%>
                              <th colspan="1" class="text-end">Coupon:</th>
                              <th><%= order.couponCode %></th>
                              <th colspan="2" class="text-end">Discount:</th>
                              <th>₹ <%= order.discount.toFixed(2) %></th>
                              <%} else if(order.discount) {%> <%}%>
                            </tr>
                            <tr>
                              <th colspan="4" class="text-end">Total:</th>
                              <th>₹ <%= order.totalPrice.toFixed(2) %></th>
                            </tr>
                            <tr>
                              <th colspan="4" class="text-end">
                                Payment Method:
                              </th>
                              <th><%= order.paymentMethod %></th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>

                      <!-- Shipping Details Tab -->
                      <div
                        class="tab-pane fade"
                        id="shipping-details-<%= order._id %>"
                        role="tabpanel"
                        aria-labelledby="shipping-details-tab-<%= order._id %>"
                      >
                        <p>
                          <strong>Delivery Address:</strong><br />
                          <%= order.shippingAddress.name %> <br />
                          <%= order.shippingAddress.locality %>, <%=
                          order.shippingAddress.city %> <br />
                          <%= order.shippingAddress.state + " " +
                          order.shippingAddress.pincode %> <br />
                          <%= "Mobile " + order.shippingAddress.mobile %> <br />
                        </p>
                        <% if(order.orderStatus !== 'Cancelled' &&
                        order.orderStatus !== 'Delivered' && order.orderStatus
                        !== 'Returned') { %>
                        <p class="py-2">
                          <strong>Estimated Delivery Date: </strong>
                          <%= new Date(new Date(order.placedAt).getTime() + 7 *
                          24 * 60 * 60 * 1000).toDateString() %>
                        </p>
                        <% } else if(order.orderStatus === 'Cancelled'){ %>
                        <p class="py-2">
                          <strong>Cancelled Date: </strong>
                          <%= new Date(order.updatedAt).toDateString() %>
                        </p>
                        <% } else if(order.orderStatus === 'Delivered'){ %>
                        <p class="py-2">
                          <strong>Delivered Date: </strong>
                          <%= new Date(order.updatedAt).toDateString() %>
                        </p>
                        <% } else if(order.orderStatus === 'Returned'){ %>
                        <p class="py-2">
                          <strong>Returned Date: </strong>
                          <%= new Date(order.updatedAt).toDateString() %>
                        </p>
                        <% } %>

                        <!-- Progress Bar for Order Status -->
                        <% if (order.orderStatus !== 'Cancelled' &&
                        order.orderStatus !== 'Returned') { %>

                        <div class="progressbar">
                          <div
                            class="progress-step <% if(order.orderStatus === 'Processing' || order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %> active <% } %>"
                          >
                            <div class="step-number">1</div>
                            <div>Processing</div>
                          </div>
                          <div
                            class="progress-line <% if(order.orderStatus === 'Processing' || order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %> active <% } %>"
                          ></div>
                          <div
                            class="progress-step <% if(order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %> active <% } %>"
                          >
                            <div class="step-number">2</div>
                            <div>Shipped</div>
                          </div>
                          <div
                            class="progress-line <% if(order.orderStatus === 'Shipped' || order.orderStatus === 'Delivered') { %> active <% } %>"
                          ></div>
                          <div
                            class="progress-step <% if(order.orderStatus === 'Delivered') { %> active <% } %>"
                          >
                            <div class="step-number">3</div>
                            <div>Delivered</div>
                          </div>
                        </div>
                        <% } else { %>
                        <div class="progressbar">
                          <div class="progress-step">
                            <div class="step-number bg-danger">!</div>
                            <div><%= order.orderStatus %></div>
                          </div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %> <% } else { %>
              <p>No order history</p>
              <% } %>
            </div>

            <!-- Address Management Section -->
            <div
              class="tab-pane fade"
              id="address-management"
              role="tabpanel"
              aria-labelledby="address-management-tab"
            >
              <!-- Button to Show Add Address Form -->
              <div
                class="btn w-100 mb-3 border p-3"
                onclick="toggleAddAddressForm()"
                id="showAddAddressButton"
              >
                <p class="">
                  <strong
                    ><i class="fa-solid fa-plus"></i> Add New Address</strong
                  >
                </p>
              </div>

              <!-- Add New Address Form (Hidden initially) -->
              <form
                id="addAddressForm"
                action="/Profile/add-address"
                method="post"
                style="display: none"
              >
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Enter name"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="mobile" class="form-label">Mobile number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="mobile"
                      name="mobile"
                      placeholder="Enter mobile number"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="pincode" class="form-label">Pincode</label>
                    <input
                      type="text"
                      class="form-control"
                      id="pincode"
                      name="pincode"
                      placeholder="Enter pincode"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="locality" class="form-label">Locality</label>
                    <input
                      type="text"
                      class="form-control"
                      id="locality"
                      name="locality"
                      placeholder="Enter locality"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="city" class="form-label"
                      >City/District/Town</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      placeholder="Enter city"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="state" class="form-label">State</label>
                    <select class="form-control" id="state" name="state">
                      <option value="">Select State</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">
                        Arunachal Pradesh
                      </option>
                      <option value="Assam">Assam</option>
                      <option value="Goa">Goa</option>
                      <option value="Karnataka">Karnataka</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="landmark" class="form-label"
                      >Landmark (Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="landmark"
                      name="landmark"
                      placeholder="Enter landmark"
                    />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="type" class="form-label">Type</label>
                    <select class="form-control" id="type" name="type">
                      <option value="">Select Address type</option>
                      <option value="Home">Home</option>
                      <option value="Office">Office</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="secondmobile" class="form-label"
                      >Alternate Phone (Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="secondmobile"
                      name="secondmobile"
                      placeholder="Enter alternate phone"
                    />
                  </div>
                </div>
                <button for="submit" type="submit" class="btn btn-primary mb-5">
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary mb-5"
                  onclick="toggleAddAddressForm()"
                >
                  Cancel
                </button>
              </form>

              <!-- Current Addresses Section -->
              <div id="currentAddresses" class="<%= user.addresses._id %>">
                <% if (user.addresses && user.addresses.length > 0) { %> <%
                user.addresses.forEach((addresses, index) => { %>
                <div class="card mb-3">
                  <div
                    class="card-body d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <h5 class="card-title"><%= addresses.name %></h5>
                      <span class="badge rounded-pill bg-dark w-25"
                        ><%= addresses.type %></span
                      >
                      <p class="card-text">
                        <%= addresses.locality %>, <%= addresses.city %> - <%=
                        addresses.pincode %><br />
                        <%= addresses.state %><br />
                        <%= addresses.mobile.join(', ') %><br />
                        <% if (addresses.Landmark) { %> <%= addresses.landmark
                        %> <% } %>
                      </p>
                    </div>
                    <div>
                      <!-- Buttons on the left -->
                      <a
                        href="/Profile/edit-address/<%= addresses._id %>"
                        class="btn btn-sm"
                        ><i
                          class="fa-solid fa-pen-to-square fa-lg"
                          style="color: #000000"
                        ></i
                      ></a>
                      <button
                        class="btn btn-sm"
                        onclick="deleteAddress('<%= addresses._id %>')"
                      >
                        <i
                          class="fa-solid fa-trash-can fa-lg"
                          style="color: #000000"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
                <% }) %> <% } else { %>
                <p>No addresses found.</p>
                <% } %>
              </div>
            </div>

            <!-- Wallet Management Section -->
            <% if (wallet) { %>
            <!-- Wallet Management Section -->
            <div
              class="tab-pane fade"
              id="wallet-management"
              role="tabpanel"
              aria-labelledby="wallet-management-tab"
            >
              <!-- Wallet Balance Section -->
              <div class="mb-3">
                <h5 class="alert alert-success text-center" role="alert">
                  Wallet Balance: ₹<span id="walletBalance"
                    ><%= wallet.balance %></span
                  >
                </h5>
              </div>

              <!-- Button to Add Amount to Wallet -->
              <!-- <div
                class="btn w-100 mb-3 border p-3"
                onclick="toggleAddAmountForm()"
                id="showAddAmountButton"
              >
                <p>
                  <strong
                    ><i class="fa-solid fa-plus"></i> Add Amount to
                    Wallet</strong
                  >
                </p>
              </div> -->

              <!-- Add Amount Form (Hidden initially) -->
              <!-- <form
                id="addAmountForm"
                action="/Profile/add-amount"
                method="post"
                style="display: none"
              >
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                      placeholder="Enter amount"
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mb-5">
                  Add Amount
                </button>
                <button
                  type="button"
                  class="btn btn-secondary mb-5"
                  onclick="toggleAddAmountForm()"
                >
                  Cancel
                </button>
              </form> -->

              <!-- Wallet History Section -->
              <div id="walletHistory">
                <!-- Table for displaying wallet history -->
                <table class="table table-striped">
                  <thead>
                    <tr class="justify-content-between">
                      <th>No</th>
                      <th class="text-center">Date</th>
                      <th class="text-center">Description</th>
                      <th class="text-center">Amount</th>
                      <th class="text-center">Transaction</th>
                    </tr>
                  </thead>
                  <tbody id="walletHistoryBody">
                    <% wallet.walletHistory.forEach((walletHistory, num) => { %>
                    <tr>
                      <td><%= num + 1 %></td>
                      <td class="text-center">
                        <%= walletHistory.date.toDateString() %>
                      </td>
                      <td class="text-center">
                        <%= walletHistory.description %>
                      </td>
                      <td class="text-center">₹<%= walletHistory.amount %></td>
                      <% if(walletHistory.transactionType === "credit") { %>
                      <td class="text-success text-center">
                        <%= walletHistory.transactionType %>
                      </td>
                      <% } else { %>
                      <td class="text-danger text-center">
                        <%= walletHistory.transactionType %>
                      </td>
                      <% } %>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>

                <!-- Pagination for Wallet History -->
                <nav>
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <a class="page-link" href="#" onclick="changePage(-1)">
                        <i
                          class="fa-solid fa-chevron-left"
                          style="color: #000000"
                        ></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" onclick="changePage(1)">
                        <i
                          class="fa-solid fa-chevron-right"
                          style="color: #000000"
                        ></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <% } else { %>
            <!-- Display if no wallet data is available -->
            <div
              class="tab-pane fade"
              id="wallet-management"
              role="tabpanel"
              aria-labelledby="wallet-management-tab"
            >
              <div class="mb-3">
                <h5 class="alert alert-success text-center" role="alert">
                  Wallet Balance: ₹<span id="walletBalance">0.00</span>
                </h5>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade m-5"
      id="ratingReviewModal"
      tabindex="-1"
      aria-labelledby="ratingReviewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ratingReviewModalLabel">
              Add Rating and Review
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="w-full" id="ratingReviewForm">
              <div class="flex-w flex-m">
                <span class="stext-102 cl3 m-r-16">Your Rating</span>

                <span class="wrap-rating fs-18 cl11 pointer">
                  <i
                    class="item-rating pointer zmdi zmdi-star-outline"
                    data-rating="1"
                  ></i>
                  <i
                    class="item-rating pointer zmdi zmdi-star-outline"
                    data-rating="2"
                  ></i>
                  <i
                    class="item-rating pointer zmdi zmdi-star-outline"
                    data-rating="3"
                  ></i>
                  <i
                    class="item-rating pointer zmdi zmdi-star-outline"
                    data-rating="4"
                  ></i>
                  <i
                    class="item-rating pointer zmdi zmdi-star-outline"
                    data-rating="5"
                  ></i>
                  <input
                    class="dis-none"
                    type="number"
                    id="rating"
                    name="rating"
                  />
                </span>
              </div>

              <div class="row p-b-25">
                <div class="col-12 p-b-5">
                  <label class="stext-102 cl3" for="review">Your review</label>
                  <textarea
                    class="size-110 bor8 stext-102 p-lr-20 p-tb-10"
                    id="review"
                    name="review"
                  ></textarea>
                  <input
                    type="hidden"
                    value=""
                    name="productId"
                    id="hiddenProductId"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const hash = window.location.hash;
        if (hash) {
          const targetTab = document.querySelector(`a[href="${hash}"]`);
          if (targetTab) {
            document
              .querySelector(".list-group-item.active")
              ?.classList.remove("active");
            targetTab.classList.add("active");
            const tabContent = document.querySelector(hash);
            if (tabContent) {
              document
                .querySelector(".tab-pane.active")
                ?.classList.remove("show", "active");
              tabContent.classList.add("show", "active");
            }
          }
        }
      });

      function setProductId(buttonElement) {
        const productId = buttonElement.getAttribute("data-productId-id");
        document.getElementById("hiddenProductId").value = productId;
      }

      $(".item-rating").on("click", function () {
        var rating = $(this).data("rating");
        $("#rating").val(rating);
        $(".item-rating").each(function (index) {
          if (index < rating) {
            $(this).removeClass("zmdi-star-outline").addClass("zmdi-star");
          } else {
            $(this).removeClass("zmdi-star").addClass("zmdi-star-outline");
          }
        });
      });

      $("#ratingReviewForm").on("submit", function (event) {
        event.preventDefault();

        const rating = $("#rating").val();
        const review = $("#review").val();
        const productId = $("#hiddenProductId").val();

        if (!rating) {
          showValidationError("Please select a rating.");
          return;
        }

        if (!review.trim()) {
          showValidationError("Please enter your review.");
          return;
        }

        $.ajax({
          url: "/Profile/submit-review",
          type: "POST",
          data: {
            rating: rating,
            review: review,
            productId: productId,
          },
          success: function (response) {
            if (response.success) {
              showToastifySuccess(response.message);

              let modal = bootstrap.Modal.getInstance(
                document.getElementById("ratingReviewModal")
              );
              modal.hide();

              $("#ratingReviewForm")[0].reset();
              $(".item-rating")
                .removeClass("zmdi-star")
                .addClass("zmdi-star-outline");
            } else {
              showValidationError(response.message);
            }
          },
          error: function () {
            showValidationError(
              "There was an error submitting your review. Please try again."
            );
          },
        });
      });
    </script>
    <script>
      function cancelOrder(element) {
        const orderId = element.getAttribute("data-order-id");

        showConfirmationDialog(
          "Cancel order",
          "Are you sure you want to cancel this order?",
          "Confirm",
          "Cancel",
          "btn-success"
        ).then((isConfirm) => {
          if (isConfirm) {
            $.ajax({
              url: `/Profile/cancel-order`,
              type: "PATCH",
              data: { orderId: orderId },
              success: function (response) {
                if (response.status) {
                  showToastifySuccess(response.message);
                  $("#orders").load("/Profile #orders > *");
                  $("#wallet-management").load(
                    "/Profile #wallet-management > *"
                  );
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (xhr, status, error) {
                showToastifyError(
                  "An error occurred while cancelling the order."
                );
              },
            });
          }
        });
      }

      function returnOrder(element) {
        const orderId = element.getAttribute("data-order-id");

        showConfirmationDialog(
          "Return order",
          "Are you sure you want to return this order?",
          "Confirm",
          "Cancel",
          "btn-success"
        ).then((isConfirm) => {
          if (isConfirm) {
            $.ajax({
              url: `/Profile/return-order`,
              type: "PATCH",
              data: { orderId: orderId },
              success: function (response) {
                if (response.status) {
                  showToastifySuccess(response.message);
                  $("#orders").load("/Profile #orders > *");
                  $("#wallet-management").load(
                    "/Profile #wallet-management > *"
                  );
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (xhr, status, error) {
                showToastifyError(
                  "An error occurred while cancelling the order."
                );
              },
            });
          }
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("updateForm");
        const firstName = document.getElementById("firstName");
        const lastName = document.getElementById("lastName");
        const currentPassword = document.getElementById("currentPassword");
        const newPassword = document.getElementById("newPassword");
        const confirmPassword = document.getElementById("confirmPassword");

        const originalValues = {
          firstName: firstName.value,
          lastName: lastName.value,
          currentPassword: currentPassword.value,
          newPassword: newPassword.value,
          confirmPassword: confirmPassword.value,
        };

        form.addEventListener("submit", function (event) {
          event.preventDefault();

          if (!isFormChanged()) {
            showToastify("No changes made.");
            return;
          }

          if (validation()) {
            const formData = $(form).serialize();

            $.ajax({
              url: "/Profile/edit",
              type: "PUT",
              data: formData,
              success: function (response) {
                if (response.success) {
                  showToastifySuccess(response.message);
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (xhr, status, error) {
                showToastifyError(
                  "An error occurred while updating the profile."
                );
              },
            });
          }
        });

        function isFormChanged() {
          return (
            firstName.value !== originalValues.firstName ||
            lastName.value !== originalValues.lastName ||
            currentPassword.value !== originalValues.currentPassword ||
            newPassword.value !== originalValues.newPassword ||
            confirmPassword.value !== originalValues.confirmPassword
          );
        }

        function validation() {
          let isValid = true;
          clearErrors();

          const namePattern = /^[A-Za-z]{2,}$/;
          const passwordPattern = /^.{1,20}$/;
          // const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,}$/;

          if (firstName.value.trim() === "") {
            setError(firstName, "First name is required.");
            isValid = false;
          } else if (!namePattern.test(firstName.value)) {
            setError(
              firstName,
              "First name must be at least 2 characters and contain only letters."
            );
            isValid = false;
          }

          if (lastName.value.trim() === "") {
            setError(lastName, "Last name is required.");
            isValid = false;
          } else if (!namePattern.test(lastName.value)) {
            setError(
              lastName,
              "Last name must be at least 2 characters and contain only letters."
            );
            isValid = false;
          }

          if (currentPassword.value !== "") {
            if (newPassword.value.trim() === "") {
              setError(newPassword, "Password is required.");
              isValid = false;
            } else {
              if (!passwordPattern.test(newPassword.value)) {
                setError(
                  newPassword,
                  "Password must be at least 2 characters and contain letters and numbers."
                );
                isValid = false;
              }

              if (newPassword.value !== confirmPassword.value) {
                setError(confirmPassword, "Passwords do not match.");
                isValid = false;
              }
            }
          }
          return isValid;
        }

        function setError(input, message) {
          const errorElement = input.nextElementSibling;
          errorElement.textContent = message;
          errorElement.style.display = "block";
          input.classList.add("is-invalid");
        }

        function clearErrors() {
          const errorMessages = document.querySelectorAll(".is-invalid");
          errorMessages.forEach(function (element) {
            element.classList.remove("is-invalid");
            const errorElement = element.nextElementSibling;
            if (errorElement) {
              errorElement.style.display = "none";
              errorElement.textContent = "";
            }
          });
        }
      });
    </script>
    <script>
      function toggleAddAmountForm() {
        const form = document.getElementById("addAmountForm");
        form.style.display = form.style.display === "none" ? "block" : "none";
      }

      let currentPage = 1;
      const rowsPerPage = 4;
      const tableBody = document.getElementById("walletHistoryBody");

      function changePage(direction) {
        currentPage += direction;
        updateTable();
      }

      function updateTable() {
        const rows = tableBody.getElementsByTagName("tr");
        const totalRows = rows.length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        currentPage = Math.max(1, Math.min(totalPages, currentPage));

        for (let i = 0; i < totalRows; i++) {
          rows[i].style.display =
            i >= (currentPage - 1) * rowsPerPage &&
            i < currentPage * rowsPerPage
              ? ""
              : "none";
        }
      }

      document.addEventListener("DOMContentLoaded", () => updateTable());
    </script>
    <script>
      function deleteAddress(id) {
        showConfirmationDialog(
          "Are you sure?",
          "Once deleted, this address cannot be recovered!",
          "Delete",
          "Cancel",
          "btn-success"
        ).then((isConfirm) => {
          if (isConfirm) {
            $.ajax({
              url: "/Profile/remove-address",
              type: "DELETE",
              data: { id: id },
              success: function (response) {
                if (response.success) {
                  showToastifySuccess(response.message);
                  $("#currentAddresses").load("/Profile #currentAddresses > *");
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (error) {
                showToastifyError(
                  "An error occurred while deleting the address."
                );
              },
            });
          }
        });
      }

      function toggleAddAddressForm() {
        var form = document.getElementById("addAddressForm");
        form.style.display = form.style.display === "none" ? "block" : "none";
      }

      document
        .getElementById("addAddressForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const fields = document.querySelectorAll(".form-control");
          fields.forEach((field) => {
            field.style.borderColor = "";
          });

          let isValid = true;
          const name = document.getElementById("name").value.trim();
          const mobile = document.getElementById("mobile").value.trim();
          const pincode = document.getElementById("pincode").value.trim();
          const locality = document.getElementById("locality").value.trim();
          const city = document.getElementById("city").value.trim();
          const state = document.getElementById("state").value;
          const type = document.getElementById("type").value.trim();
          const mobilePattern = /^[6-9]\d{9}$/;
          const pincodePattern = /^\d{6}$/;
          if (!name) {
            showValidationError("name", "Name is required.");
            isValid = false;
          }
          if (!mobile || !mobilePattern.test(mobile)) {
            showValidationError(
              "mobile",
              "Please enter a valid 10-digit mobile number."
            );
            isValid = false;
          }
          if (!pincode || !pincodePattern.test(pincode)) {
            showValidationError(
              "pincode",
              "Please enter a valid 6-digit pincode."
            );
            isValid = false;
          }
          if (!locality) {
            showValidationError("locality", "Locality is required.");
            isValid = false;
          }
          if (!city) {
            showValidationError("city", "City/District/Town is required.");
            isValid = false;
          }
          if (!state) {
            showValidationError("state", "Please select a state.");
            isValid = false;
          }
          if (!type) {
            showValidationError(
              "type",
              "Please select an address type (Home or Office)."
            );
            isValid = false;
          }

          if (isValid) {
            const formData = $(this).serialize();

            $.ajax({
              url: "/Profile/add-address",
              type: "POST",
              data: formData,
              success: function (response) {
                if (response.success) {
                  showToastifySuccess(response.message);
                  $("#currentAddresses").load("/Profile #currentAddresses > *");
                  $("#addAddressForm")[0].reset();
                  toggleAddAddressForm();
                } else {
                  showToastifyError(response.message);
                }
              },
              error: function (xhr, status, error) {
                showToastifyError(
                  "An error occurred while updating the profile."
                );
              },
            });
          }
        });

      function showValidationError(fieldId, message) {
        const field = document.getElementById(fieldId);
        field.style.borderColor = "#dc3545";
        showToastifyError(message);
      }

      function showToastifySuccess(message) {
        Toastify({
          text: message,
          duration: 3000,
          gravity: "top",
          position: "right",
          backgroundColor: "#28a745",
        }).showToast();
      }

      function showToastifyError(message) {
        Toastify({
          text: message,
          duration: 3000,
          gravity: "top",
          position: "right",
          backgroundColor: "#dc3545",
        }).showToast();
      }

      function displayError(inputField, errorMessage) {
        inputField.classList.add("error");
        inputField.value = "";
        inputField.placeholder = errorMessage;
      }

      function clearError(inputField, originalPlaceholder) {
        inputField.classList.remove("error");
        inputField.placeholder = originalPlaceholder;
      }
    </script>
  </body>
</html>
